Login.css
.login-form {
 max-width: 300px;
 margin: auto;
}
.login-form-button {
 width: 100%;
}

Main.css
.main {
 margin-top: 40px;
}

Register.css
.register-form {
 width: 550px;
 margin: auto;
}

Constants.css
export const API_ROOT = 'https://around-75015.appspot.com/api/v1';
export const TOKEN_KEY = 'TOKEN_KEY';
export const GEO_OPTIONS = {
 enableHighAccuracy: true,
 maximumAge        : 3600000,
 timeout           : 27000,
};
export const POS_KEY = 'POS_KEY';
export const AUTH_PREFIX = 'Bearer';
export const LOC_SHAKE = 0.02;